.mainContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: calc(100vh - 80px);
}

.scrollText {
	height: calc(100vh - 80px);
	width: max-content;
	overflow: hidden;
}

.text {
	height: 100%;
	text-align: center;
	font-size: 28px;
	font-weight: 700;
	color: var(--orange);
	text-transform: uppercase;
	animation: txtScrollAnim 2500ms linear;
}

@keyframes txtScrollAnim {
	0% {
		opacity: 0;
		transform: translateY(100%);
	}

	100% {
		opacity: 1;
		transform: translateY(0%);
	}
}